div#static{
    position: static;
    border: 3px solid aqua;
    width: 250px;
    height: 250px;
    padding: 20px;
}

div#relative{
    position: relative;
    border: 3px solid aqua;
    width: 250px;
    height: 250px;
    padding: 20px;
    left: 200px;
    top: 20px;
}

div#fixed{
    position: fixed;
    border: 3px solid aqua;
    width: 250px;
    height: 250px;
    padding: 20px;
    right: 200px;
    bottom: 100px;   
}

#h1fixed{
    position: fixed;
    right: 300px;
    top: 20px;
}

div#parent{
    position: relative;
    width: 250px;
    height: 250px;
    border: 3px solid aqua;
}

div#absolute{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: aqua;
    right: 80px;
    top: 70px;
    color: white;
}

div#sticky{
    position: sticky;
    background-color: rgb(36, 184, 61);
    padding:  20px;
    color: white;
}