div .gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}
div .gallery:hover{
    border: 1px solid aqua;
}

div .gallery image1{
    width: 100%;
    height: auto;
}

div .desc{
    padding: 15px;
    text-align: center;
}

a[href="https://www.richardmille.com/"]{
    color: red;
}

p[class*='ds']{
    background: blue;
    color: white;
    padding: 20px                                                                                              ;
}

div[id~="ds"]{
    background: green;
    color: white;
    padding: 20px;
}

img[title=blue]{
    border: 2px solid green;
}

h1[class|=heaI]