article p{
    background: blue;
    color: white;
    padding: 20px;
}

article > p{
    background: red;
}

article ~ p{
    background: lime;
    color: white;
    padding: 20px;
}

article + P{
    background: purple;
}

form{
    margin-top: 20px;
}

input:invalid{
    border: 2px solid red;
}

span:first-of-type{
    background: balck;
    color: white;
    padding: 10px;
}

div{
  opacity: 0.5;
}
